/target
/test_inputs/*.vtk
/test_inputs/models/*.vtk
/test_inputs/C3D4_staticstep/*.vtk
/test_inputs/C3D4_staticstep/*.vtk.series
/notes.md
# Symbolic Link to the CalculiX Repository for reference
CalculiX
